# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old
.DS_Store

# eclipse conf file
.settings
.classpath
.manager
.scala_dependencies

# VsCode
.project

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log

.cache*
dependency-reduced-pom.xml

_testOutput
output
.attach_pid*
