name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-sbt:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.11.12, 2.12.16, 2.13.8 ]
        spark: [ 2.4.8, 3.3.0 ]
        exclude:
          - scala: 2.11.12
            spark: 3.3.0
          - scala: 2.13.8
            spark: 2.4.8
    name: Spark ${{matrix.spark}} on Scala ${{matrix.scala}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: coursier/cache-action@v5
      - name: Setup Scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: "adopt@1.8"
      - name: Build and run tests
        run: sbt ++${{matrix.scala}} test -DSPARK_VERSION=${{matrix.spark}}
