name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - "cobol-parser/**"
      - "cobol-converters/**"
      - "spark-cobol/**"
      - "project/**"
      - "build.sbt"
      - ".github/workflows/build.yml"

jobs:
  build-sbt:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        scala: [ 2.11.12, 2.12.20, 2.13.17 ]
        spark: [ 2.4.8, 3.4.4, 3.5.7 ]
        exclude:
          - scala: 2.11.12
            spark: 3.4.4
          - scala: 2.11.12
            spark: 3.5.7
          - scala: 2.12.20
            spark: 2.4.8
          - scala: 2.13.17
            spark: 2.4.8
          - scala: 2.13.17
            spark: 3.4.4
    name: Spark ${{matrix.spark}} on Scala ${{matrix.scala}}
    steps:
      - name: Checkout code
        # gh api repos/actions/checkout/commits/v6.0.2 --jq '.sha'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Setup JDK
        # gh api repos/actions/setup-java/commits/v5.1.0 --jq '.sha'
        uses:  actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - name: Build and run tests
        run: sbt ++${{matrix.scala}} test -DSPARK_VERSION=${{matrix.spark}}
